{% extends "base.html" %}
{% block title %}HoverCraft | Register{% endblock %}
{% block content %}
<form action="{% url "login:create" %}" method="post" style="width:50%; display: inline-block;">{% csrf_token %}
    <label>Username</label><input type="text" class="form-control" name="name"> <br />
    <label>Email</label><input type="email" class="form-control" name="email"> <br />
    <label>Password</label><input type="password" class="form-control" name="password"> <br />
    <label>Password Confirmation</label><input type="password" class="form-control" name="password_confirmation"> <br />
    <input type="submit" class="btn btn-default btn-primary" style="width:100%">
</form>
{% endblock %}